<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in
    machine.config.comments usually located in
    \Windows\Microsoft.Net\Framework\vx.x\Config
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.webServer>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>-->
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
    <handlers>
      
    </handlers>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <connectionStrings>
    <add name="MySQLConnStr" connectionString="DRIVER={MySQL ODBC 3.51 Driver}; Database=webmpx;Server=vsmroot.crpwuywbjcwc.us-east-2.rds.amazonaws.com;Port=3306;UID=vsmadmin;PWD=3TSNkRKGJW8RH6r;"/>
    <add name="MySQLConnStrNoDriver" connectionString="Database=webmpx;Server=vsmroot.crpwuywbjcwc.us-east-2.rds.amazonaws.com;Port=3306;UID=vsmadmin;PWD=3TSNkRKGJW8RH6r;"/>
    <add name="MySqlConnStrOleDb" connectionString="Provider=ODBC;Database=webmpx;Server=vsmroot.crpwuywbjcwc.us-east-2.rds.amazonaws.com;Port=3306;UID=vsmadmin;PWD=3TSNkRKGJW8RH6r;"/>
  </connectionStrings>
  <system.web>
    <sessionState mode="InProc"/>
    <!--
            Set compilation debug="true" to insert debugging
            symbols into the compiled page. Because this
            affects performance, set this value to true only
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="ADODB, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Newtonsoft.Json, Version=4.5.0.0, Culture=neutral, PublicKeyToken=30AD4FE6B2A6AEED"/>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpHandlers>

    </httpHandlers>
    <!--
            The <authentication> section enables configuration
            of the security authentication mode used by
            ASP.NET to identify an incoming user.
        -->
    <!--<authentication mode="Windows"/>-->
    <!--
            The <customErrors> section enables configuration
            of what to do if/when an unhandled error occurs
            during the execution of a request. Specifically,
            it enables developers to configure html error pages
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpRuntime maxQueryStringLength="2000048" requestValidationMode="2.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" enableViewStateMac="false" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" userName="btdmpx@gmail.com" password=".web!3064"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;"/>
    <add key="execDownloadEmail" value="greg@build-to-demand.com"/>
    <add key="developerEmail" value="greg@build-to-demand.com"/>
    <add key="passwordResetEmail" value="greg@build-to-demand.com"/>
    <add key="fileMpxSerialNumber" value="App_Data/serial.mpx"/>
    <add key="fileDemoDownloadClient" value="App_Data/demo.mpx"/>
    <add key="fileMpxDownloads" value="App_Data/demo_downloads_log.mpx"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>